<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu|Lato">
<div class='head text-center'>
  <img src="<%= @post.image %>">
</div>
<h1 class='text-center'><%= @post.tittle %></h1>
<div class='body'>
  <p><%= markdown(@post.body) %></p>
</div>
