<h2>Show post</h2>

<ul>

  <li>
    <strong>Tittle:</strong>
    <%= @post.tittle %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>

</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
