body{
  background-color: white;
}
h1{
  font-family: 'Ubuntu', Georgia, sans-serif;
  font-size: 52px;
}
.body{
  font-size: 16px;
  font-family: "Lato", serif;
}
.head{
  width: 700px;
  height: 400px;
}

.head img {
  height: 100%;
  width: 100%;
}
