<div id="wrapper">
	<div id="columns">
    <%= for post <- @posts do %>
    <a href="<%= get_link_to_post(post) %>">
      <div class="pin">
  			<img src="<%= post.image %>" />
        <h1> <%= post.tittle %> </h1>
  			<p>
  				<%= post.body %>
  			</p>
  		</div>
    </a>
    <% end %>
	</div>
</div>
